{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "@ericgio/eslint-config-react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-fragments": "off",
    "sort-keys": "off"
  }
}
