body {
  margin: 0;
  font: 16px Helvetica, sans-serif;
}

.app-page {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.app-toolbar {
  background-color: #f5f5f5;
}

.app-toolbar.form-inline .control-label {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.app-toolbar .form-group + .form-group {
  margin-left: 20px;
  vertical-align: top;
}

.gender-radios {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.app-data {
  display: flex;
  height: 100%;
}

.app-sidebar {
  border-left: 1px solid #f0f0f0;
  overflow-y: scroll;
}

.runner {
  border-bottom: 1px solid #f5f5f5;
  font-size: 11px;
  padding: 15px;
}

.runner.media {
  margin: 0;
}

.runner .media-body {
  line-height: 1;
}

.runner h4 {
  font-size: 13px;
  margin: 0 0 6px;
}

.app-chart {
  flex: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}

.y-axis-background text {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.runner-line .line {
  stroke: #34ace4;
  stroke-opacity: 0.2;
}
.runner-line .line:hover {
  cursor: pointer;
  stroke-opacity: 1;
}
.runner-line.f .line {
  stroke: #dd0447;
}

.silver-buckle-cutoff {
  stroke: #dd0447;
  stroke-dasharray: 4, 1;
  stroke-opacity: 1;
}
