.app-page {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.form-label {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.form-group + .form-group {
  margin-left: 20px;
  vertical-align: top;
}

.app-data {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.app-chart {
  flex: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #f0f0f0;
  shape-rendering: crispEdges;
}

.y-axis-background text {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.runner-line .line {
  stroke: #34ace4;
  stroke-linecap: round;
  stroke-opacity: 0.2;
}
.runner-line .line:hover,
.runner-line.active .line {
  cursor: pointer;
  stroke-opacity: 1;
  stroke-width: 2px;
}
.runner-line.f .line {
  stroke: #dd0447;
}

.median-time text {
  fill: #aaa;
  font-size: 10px;
}

.median-time .line,
.silver-buckle-time {
  shape-rendering: crispEdges;
  stroke: #d5d5d5;
  stroke-dasharray: 4, 1;
  stroke-opacity: 1;
}

.silver-buckle-time {
  stroke: #dd0447;
}
